*{ 
 box-sizing :border-box;
 padding: 0;
 margin: 0;
}
.header{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(248, 255, 255);
    background-color: rgb(7, 6, 6);
    font-family:'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 20px;
 }
.section{
  border: 4px solid ;
   box-shadow: 10px;
   border-radius: 10px; 
   background-color: orange;
   padding: 10px; 
   margin: 10px;

  
} 
ul>li{
   list-style-type:none;
   color: black;
   margin: 5px;
   padding: 10px;
}
a:hover {
  background-color: red;


}
a:visited{
  color: black;
}
/* a{
   text-decoration: none;
   color: blue;
   border: 1px solid  blue;
   border-radius:15px;
   box-shadow:red ;
   padding: 6px;
   background-color: rgb(240, 210, 210);
} */
li {
  display: inline;
  float: left;
}
body {

    background-color:rgb(104, 10, 10) ;
  }
  p{
    color: black;
    font-family:Georgia, 
    font: size 16px;px;
    margin: 10px; 
    padding: 10px
  }
  ul {
    list-style-type: style type none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: gray;
  }
  li {
    float: left;
  }
   a {
    display: block;
    font-size:  20px;
    color: black;
    text-align:center;
    padding: 14px 10px;
    text-decoration: none;
  }
 .grid{
  background-color: #0a0909;  
  margin-left: 300px;
  max-width: fit-content;
  border-radius: 20px;
  margin-top: 20px;
  display: grid;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  grid-template-columns: repeat(4,75px);
  }
  button{
    height: 60px;
    background-color: #110f0f;
    border: 2px;
    border-radius: 10px;
    border-color:#fff ;
    margin: 5px;
    min-height: 50px;
    box-shadow: rgb(173, 77, 77);
  }

  
  .Display{
    grid-column: span 4;
    border-radius: 10px;
    background-color: rgb(185, 178, 178);

  }

  .btn1{
    font-size: 30px;
    color:#fff;
    background-color: black;
    font-weight: bold;
  }
  .btn2{
    background-color: rgb(43, 255, 15);
    color: rgb(15, 14, 14);
    font-size: 30px;
    font-weight: bold;
    border-color: #bbd157;
  }
  .btn3{background-color: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
    }
    .btn4{
      background-color: orange;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    }
    .btn1:hover {
      background-color: gray;
    }
    .btn2:hover:hover {
      background-color:#accc20;
    }
    .btn3:hover:hover {
      background-color: rgb(58, 50, 46);
    }
    .btn4:hover:hover {
      background-color: rgb(88, 13, 187);
    }
 nav {
    background-color: rgb(51, 45, 45);
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: 2px 2px 4px red;
    list-style-type: none;
  }
  nav a {
    display: block;
    color: #f0ebeb;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
  nav a:hover {
    background-color: black;
    margin: 10px;
    padding: 5px;
    color:#775454;
    transition-duration: 0.4s;
  }
  .hover{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33;
} 
  
  